@import "../../App.scss";

@keyframes show-check {
    0%   {
        transform: scale(0);
    }
    25%   {
        transform-origin: center;
        transform: scale(1.4);
        transform: rotate(90deg);
        border-radius: 0;
        margin-right: 0rem;
    }
    100% {
        transform: scale(1);
        border-radius: 50%;
        transform: rotate(0deg);
        margin-right: 1rem;
    }
}

.editable-label{
    font-size:0.8rem;
    cursor: pointer;
    

    .alert{
        display: flex;
        align-items: center;
        padding:0.3rem;
        border: 1px solid $hover-color;
        color: $dark;

        &.selected {
            background-color: $selected-color;
            color: $white;
        }
    }

    .verification-box{
        height: 1.5rem;
        width: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.25rem;
        margin-right:1rem;
        border-radius: 50%;
        
        color:$white;
        background-color: $success;

        animation-name: show-check;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
    }

}