@import '../../App.scss';

@keyframes show-histogram-bars {
  0%{
    opacity: 0;
    transform-origin: center;
    
    transform: rotateY(-90deg) translateY(100%);
    
  }  
  100%{
    opacity: 1;
    transform-origin: center;

    transform: rotateY(0deg) translateY(0%);
    
  }

}

.histogram{
    padding:10px;
    border:2px solid $light;
    border-radius: 10px;
    height: 15rem;
    width: 100%;
    svg {
      width: 100%;
      height: 100%;
    }

    .histogram-bar{
      animation-name: show-histogram-bars;
      animation-duration: 1s;
      
    }
  }