[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python="*"
pytesseract="*"
numpy="*"
pdf2jpg = "*"
flask = "*"
pillow = "*"
flask-cors = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
pika = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
