$theme-colors: (
    "primary": #0060af,
    "success": #3EAD68,
    "danger":#F04124,
    "dark": #3b3b3b,
    "warning": #FAC05E,
    "info": #29b0ff    
);

$primary: #0060af;

$success: #3EAD68;
$danger:#F04124;
$dark: #3b3b3b;
$warning: #FAC05E;
$info: #29b0ff;
$light: #eaeaea;


$zzz: #ff2954;


@import "~bootstrap/scss/bootstrap";
// @import "./Variabiles.scss";
$hover-color: lighten($secondary, 35%);
$selected-color: $info;

.fluid {
    width: 100%;
    height: 100%
}

.fluid-w {
    width: 100%;
}

.fluid-h {
    height: 100%
}

.overflow-hidden{
    overflow-y: hidden;
}

.flex-vertical-center{
    display:flex;
    align-items: center;
}

.p-relative{
    position: relative;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


/*TODO : de separat*/

