@import "../../App.scss";


@keyframes select-browse-item {
    0%   {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1.1);
        background-color: $selected-color;
    }
}


@keyframes hover-browse-item {
    0%   {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9);
        background-color: $hover-color;
        -webkit-box-shadow: 5px 5px 6px 1px rgba(0,0,0,0.6); 
        box-shadow: 5px 5px 6px 1px rgba(0,0,0,0.6);
    }
}

.verification-dashboard{

    .prediction-list{
       // border-top: 1px solid lighten($secondary, 30%);
        overflow-y: auto;
        height: 100%;
        overflow-x: hidden;
        margin-top: 8rem;
        padding-bottom: 8rem;
        
    
    }

    .page-browse{
        height: 100%;
        overflow-y: auto;
        .page-indicator{
            margin-top: 2rem;
            margin-bottom: 2rem;
            padding: 0.5rem;
            text-align: center;
            border-radius: 10px;
            border: 1px solid $hover-color;
            -webkit-box-shadow: 5px 5px 6px 1px rgba(0,0,0,0.1); 
            box-shadow: 5px 5px 6px 1px rgba(0,0,0,0.1);

            img {
                height: auto;
                width: 100%;

            }

            &:hover {
                cursor: pointer;
                box-sizing: border-box;
                background-color: $hover-color;
                border: 1px solid $hover-color;
                -webkit-box-shadow: 5px 5px 6px 1px rgba(0,0,0,0.6); 
                box-shadow: 5px 5px 6px 1px rgba(0,0,0,0.6);

                animation-name: hover-browse-item;
                animation-duration: 0.1s;
                animation-timing-function: ease-in;
                transform: scale(0.9);
            }

            
            &.selected {
                cursor: pointer;
                box-sizing: border-box;
                background-color: $selected-color;
                border: 1px solid $selected-color;
                -webkit-box-shadow: 5px 5px 6px 1px rgba(0,0,0,0.6); 
                box-shadow: 5px 5px 6px 1px rgba(0,0,0,0.6);

                animation-name: select-browse-item;
                animation-duration: 0.2s;
                animation-timing-function: ease-out;
                transform: scale(1.1);
            
            }
        }
    }
}