@import "../../App.scss";


@keyframes select-browse-item {
    0%   {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1.1);
        background-color: $selected-color;
    }
}


@keyframes hover-browse-item {
    0%   {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9);
        background-color: $hover-color;
        -webkit-box-shadow: 5px 5px 6px 1px rgba(0,0,0,0.6); 
        box-shadow: 5px 5px 6px 1px rgba(0,0,0,0.6);
    }
}

.verification-dashboard{

    .prediction-list{
       // border-top: 1px solid lighten($secondary, 30%);
        overflow-y: auto;
        height: 100%;
        overflow-x: hidden;
        margin-top: 8rem;
        padding-bottom: 8rem;
        
    
    }

    .page-browse{
        height: 100%;
        overflow-y: auto;
        
    }
}